APP_ENV=development
POST_TRAITEMENT_URL=http://post-traitement:8000
DATAWAREHOUSE_URL=http://datawarehouse:8080
VITE_API_URL=http://localhost:8001

POSTGRES_DB=stockdb
POSTGRES_USER=stockuser
POSTGRES_PASSWORD=stockpass
REDIS_CONNECTION_STRING=redis:6379
CONNECTIONSTRINGS__DEFAULTCONNECTION=Host=postgres;Database=stockdb;Username=stockuser;Password=stockpass

COMPOSE_PROJECT_NAME=monorepo-stock
